.aboutMe {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.aboutMeResume {
	display: flex;
	align-items: center;
	justify-content: center;
}
.aboutMeSquare {
	margin-left: 5vw;
	margin-right: 50px;
}
.aboutMyFace {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#e0a9b4, #cc96ee);
	border-radius: 90px;
	width: 300px;
	height: 300px;
	margin-bottom: 50px;
}

.aboutMeText {
	align-items: center;
	font-weight: 400;
}
.aboutMeText h1 {
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 50px;
}

.aboutMeSlider {
	margin-top: 50px;
}
