.aboutMe {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.aboutMeLeftSide {
	display: flex;
	width: 50%;
}
.aboutMeResume {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.aboutMeSquare {
	z-index: 1;
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	flex-direction: column;
	align-items: center;
}
.aboutMyFace {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#e0a9b4, #cc96ee);
	border-radius: 90px;
	width: 300px;
	height: 300px;
	margin-bottom: 50px;
}

.aboutMeText {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	font-weight: 500;
	background-color: #263352;
	border-radius: 40px;
	margin-right: 20px;
	margin-left: 20px;

	padding-bottom: 20px;
}
.aboutMeTitle {
	display: flex;
	font-weight: 500;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.aboutMeText p {
	margin-left: 20px;
	margin-right: 20px;
}

.aboutMeSlider {
	z-index: 1;
}
.aboutWorld {
	position: absolute;
	width: 35vw;
	left: -100px;
	top: 750px;
}

.aboutMeteor {
	position: absolute;
	right: 0px;
	top: 9px;
	border-radius: 0px;
}

@media screen and (max-width: 1100px) {
	.aboutMe {
		margin-top: 150px;
		margin-bottom: 100px;
	}
	.aboutMeResume {
		flex-direction: column;
	}
	.aboutMeText h1 {
		font-size: 30px;
	}
	.aboutMeText {
		margin-bottom: 0px;
		width: 90%;
	}
	.aboutMeSquare {
		margin-left: 0px;
		margin-right: 0px;
	}
	.aboutMeSlider {
		margin-bottom: 50px;
	}
}

@media screen and (max-height: 667px) {
	.aboutMe {
		margin-top: 150px;
		margin-bottom: 150px;
	}
}
