.FieldExp {
	position: relative;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 100px;
}
.FieldExpList {
	display: flex;
	flex-direction: column;
}
.FieldExpResume {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	background-color: #263352;
	border-radius: 40px;
	margin-right: 20px;
	margin-left: 20px;
}
.FieldExpLine {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 23px;
	margin-left: 10px;
}
.FieldExpText {
	margin-left: 20px;
	margin-right: 20px;
}
.FieldExpBox {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 65px;
	margin-right: 10px;
	min-width: 100px;
	height: 3vw;
}
.FieldExpBox h3 {
	text-align: center;
	font-weight: 600;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 1110px) {
	.FieldExpResume {
		align-items: center;
		margin-right: 20px;
		text-align: center;
	}

	.FieldExp {
		flex-direction: column;
	}
	.FieldExpList {
		margin-top: 20px;
	}
	.FieldExpBox {
		min-width: 0px;
	}
}
@media screen and (max-width: 700px) {
	.FieldExpBox {
		margin-right: 5px;
		height: 35px;
	}
	.FieldExpBox h3 {
		font-size: 8px;
	}
	.FieldExpList {
		width: 100%;
	}
}
