.fieldExp {
	position: relative;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 100px;
}
.fieldExpList {
	display: flex;
	flex-direction: column;
}
.fieldExpResume {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	background-color: #263352;
	border-radius: 40px;
	font-weight: 500;
	margin-right: 20px;
	margin-left: 20px;
}
.fieldExpLine {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 23px;
	margin-left: 10px;
}
.fieldExpText {
	margin-left: 20px;
	margin-right: 20px;
}
.fieldExpBox {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 65px;
	margin-right: 10px;
	min-width: 100px;
	height: 3vw;
}
.fieldExpBox h3 {
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.fieldExpBoxFirst {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 65px;
	margin-right: 10px;
	min-width: 100px;
	height: 3vw;
}
.fieldExpBoxFirst h3 {
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.fieldExpBoxLast {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 65px;
	margin-right: 10px;
	min-width: 100px;
	height: 3vw;
}
.fieldExpBoxLast h3 {
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.fieldExpLanguageList {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.fieldExpLanguage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}
.fieldExpCV {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
@media screen and (max-width: 1100px) {
	.fieldExpResume {
		align-items: center;
		margin-right: 20px;
	}

	.fieldExp {
		flex-direction: column;
	}
	.fieldExpList {
		margin-top: 20px;
	}
	.fieldExpBox {
		min-width: 0px;
	}
	.fieldExpBoxLast {
		min-width: 0px;
	}
	.fieldExpBoxFirst {
		min-width: 0px;
	}
	.fieldExpLanguage {
		width: 50px;
		height: 50px;
		margin-right: 5px;
		border-radius: 15px;
	}
	.fieldExpBox {
		margin-right: 0px;
		height: 35px;
	}
	.fieldExpBox h3 {
		font-size: 10px;
	}
	.fieldExpBoxFirst {
		margin-right: 0px;
		border-radius: 0px;
		border-top-right-radius: 65px;
		border-bottom-right-radius: 65px;
		height: 35px;
	}
	.fieldExpBoxFirst h3 {
		font-size: 10px;
	}
	.fieldExpBoxLast {
		margin-right: 0px;
		border-radius: 0px;
		border-top-left-radius: 65px;
		border-bottom-left-radius: 65px;
		height: 35px;
	}
	.fieldExpBoxLast h3 {
		font-size: 10px;
	}
	.fieldExpList {
		width: 100%;
	}
	.fieldExpLine {
		margin-left: 0px;
	}
	.fieldExpResume {
		margin-top: 150px;
		width: 90%;
	}
	.fieldExpLanguage {
		width: 45px;
		height: 45px;
		margin-right: 5px;
		border-radius: 15px;
	}
}
