.home {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.homeTitle {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.homeAnimatedLogo {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.homeTitle h1 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 4vw;
}
.homeTitle p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1vw;
}
.homeTitle svg {
	width: 60%;
	height: 60%;
}
.homeAnimatedLogo svg {
	width: 100%;
	height: 100%;
}
