.home {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.homeLeftSide {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.homeRightSide {
	margin-right: 20px;
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.homeLeftSide h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 3vw;
}
.homeLeftSide p {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.8vw;
}

.homeRightSide svg {
	width: 100%;
	height: 100%;
}
