.container {
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.home {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.homeTitle {
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.homeSubTitle {
	z-index: 9;
}
.homeAnimatedLogo {
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.homeTitle h1 {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 4vw;
}
.homeTitle p {
	font-weight: 400;
	font-size: 1vw;
}
.homeTitle svg {
	width: 60%;
	height: 60%;
}
.homeAnimatedLogo svg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 800px) {
	.homeTitle h1 {
		font-size: 35px;
	}
	.homeTitle p {
		font-size: 13px;
	}
}
