.navbar {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
}

.navbar a {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-style: 500;
	text-decoration: none;
	margin: 20px;
}

.leftSide {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.rightSide {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: left;
}

.middleSide {
	flex: 12%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
