.work {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.workProject {
	z-index: 1;
}
.workList {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 50px;
}
.workImg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}
.workSquare {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #b6afff;
	border-radius: 55px;
	width: 150px;
	height: 150px;
}
.workInfo {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.workDescription {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	background: #263352;
	border-radius: 90px;
	width: 70vw;
	height: 75px;
	font-weight: 400;
}
.workDescription p {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 15px;
}
.workProjectName {
	margin-left: 25px;
}
.workProjectName h2 {
	font-size: 18px;
}
.work h1 {
	text-align: center;
	margin-right: 10%;
}
.workAdditional {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}
.workAdditionalItem {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 90px;
	margin-top: 10px;
	margin-left: 20px;
	min-width: 5vw;
	height: 30px;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: 700;
	color: #263352;
}

.workWorld {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.workGit {
	display: flex;
	margin-top: 40px;
}
.workGit svg {
	font-size: 40px;
}

@media screen and (max-width: 800px) {
	.workDescription {
		width: 50vw;
	}
	.workList {
		margin-bottom: 40px;
	}
	.workAdditionalItem {
		font-size: 10px;
		height: 15px;
		min-width: 25px;
		margin-right: 0px;
		margin-left: 10px;
		margin-top: 5px;
	}
	.workSquare {
		border-radius: 40px;
		width: 100px;
		height: 100px;
	}
	.workDescription {
		border-radius: 90px;
		width: 70vw;
		height: 50px;
	}
	.workDescription p {
		margin-left: 30px;
		margin-right: 30px;
		font-size: 9px;
	}
	.workImg {
		margin-right: 10px;
	}
	.workProjectName h2 {
		font-size: 10px;
	}

	.workGit {
		display: none;
	}
}
