.work {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.workProject {
	z-index: 1;
}
.workPresentation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.workSquare {
	margin-right: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #b6afff;
	border-radius: 55px;
	width: 150px;
	height: 150px;
	margin-bottom: 50px;
}
.workDescription {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	background: #263352;
	border-radius: 90px;
	width: 1200px;
	height: 75px;
	font-weight: 400;
}
.workDescription p {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 15px;
}
.workProjectName {
	display: flex;
	margin-left: 25px;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}
.workProjectName h2 {
	font-size: 18px;
}

.work h1 {
	color: #e0a9b4;
	text-align: right;
	margin-right: 10%;
}
.workAdditional {
	display: flex;
	justify-content: left;
}
.workAdditionalItem {
	margin-top: 10px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 90px;
	min-width: 150px;
	height: 30px;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: 700;
	color: #263352;
}

.workWorld {
	position: absolute;
	bottom: -100px;
	right: 10px;
	width: 200px;
}
.workMiniWorld {
	position: absolute;
	bottom: 35px;
	right: 230px;
	width: 50px;
}
